/* body=============================================================== */

body {
    background: url(images/background-long.gif) center top repeat-y;
    background-color: black;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

li {
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right : none;
}

.logo {
    margin: 0%;
    margin-left: 10px;
    color: whitesmoke;
    font-family: 'ArcadeClassic', sans-serif;
    font-size: 50px;
}

/* header=============================================================== */
#scrap_header {
    background: url(images/Metroid-HD-Wallpapers.jpg);
    background-size: cover;
    background-position: center;
    background-position: 0px -60px;
}

/* Search=============================================================== */
#top-menu-search-box {
    float: right;
    margin-top: -50px;
}

.search-input {
    border:none;
    background: url(images/border.gif) no-repeat top left black;
    background-color: black;
    color: gray;
    padding: 0 15px;
    height: 45px;
    width: 216px;
    float:left;
}

.search-button {
    border: none;
    background: url(images/search_box_button.gif) no-repeat;
    margin:0;
    padding:0;
    text-indent: -10000em;
    width: 45px;
    height:45px;
    cursor: pointer;
}
/* image================================================================ */
.prime_logo {
    height: auto; 
    width: auto; 
    max-width: 50px; 
    max-height: 50px;
    position: absolute;
    right:25%;
}

.baby_metroid {
    height: auto; 
    width: auto; 
    max-width: 50px; 
    max-height: 50px;
    position: absolute;
    right:28%;
}

.gamecube {
    height: auto; 
    width: auto; 
    max-width: 50px; 
    max-height: 50px;
    position: absolute;
    right: 31.5%;
}

.wii {
    height: auto; 
    width: auto; 
    max-width: 50px; 
    max-height: 50px;
    position: absolute;
    right: 34.8%;
}

/* navbar=============================================================== */
.primary-nav-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    min-width: max-content;
    padding: 0%;
    background: url(images/top_menu_bg_top.gif);
    background-color: black;
    margin: 0%;
}


.top-menu-links {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    font-family: 'ArcadeClassic', sans-serif;
    margin: 0;
    padding: 0;
}

.top-menu-links li a {
    color: white;
    display: block;
    padding: 20px;
    font-size: 20px;
}

.top-menu-links > li:hover {
    background-color: brown;
}

.top-link {
    float:left;
    margin:0;
}

.spacer {
    clear: both;
}

.show-popup-menu {
    left:auto;
    top: auto;
}

.hide-popup-menu, .show-pop-menu {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    border-left: 1px solid #8e0201;
    border-right: 1px solid #8e0201;
    border-bottom: 1px solid #8e0201;
    position: absolute;
}

.column-container {
    clear: both;
    padding: 10px;
}

.column {
    float: left;
}

.sub-menu-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.sub-menu-links li {
    margin: 0;
}

.secondary-nav-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    min-width: max-content;
    padding: 0%;
    background: url(images/top_menu_bg_top.gif) repeat-y black;
    margin: 0%;
}

.secondary-nav-bar > li {
    width: -webkit-fill-available;
    font-family: 'ArcadeClassic', sans-serif;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    color: white;
}

.secondary-nav-bar > li:hover {
    background-color: brown;
}

#forum {
    font-family: 'ArcadeClassic', sans-serif;
    text-align: center;
    font-variant-caps: all-small-caps;
    margin: 0%;
}

.row4 {
    text-align: center;
    letter-spacing: 2px;
    font-size: 60px;
    text-shadow: -2px 1px 0px orangered;
}

/* Button============================================================== */

/* Container========================================================== */
.container {
    padding-left: 0;
    padding-right: 0;
    width: 770px;
    margin-right: auto;
    margin-left: auto;
    background: url(images/content_bg.gif) repeat-y;
    background-color: #550000;
}

/* Message============================================================= */
.post {
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 10px 10px 10px 10px;
    width: 80%;
    margin-bottom: 10px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 1.5s;
    animation-name: animatetop;
    animation-duration: 1.5s;
    box-shadow: -5px 4px 4px 2px;
}

.post:after {
	content: '';
	position: absolute;
	left: 0;
	top: 65%;
	width: 0;
	height: 0;
	border-right-color: #ffffff;
	border-left: 0;
	border-bottom: 0;
	margin-top: -11px;
	margin-left: -22px;
}

.post > #postInfo {
    background: url(images/news_date_bg.gif) no-repeat;
    background-size: cover;
    border-radius: 7px 7px 0px 0px;
    padding-left: 1%;
    padding-right: 1%;
    color: white;
    font-size: 18px;

}

#postEdit {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    text-align: -webkit-center;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.changesMade {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    margin-bottom: 0%;
}

#approvedDelete {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    text-align: -webkit-center;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.deleteContent {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    margin-bottom: 0%;
}

#new-post {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    text-align: -webkit-center;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

#new-post > form {
    display: grid;
    background-color: rgba(248, 248, 248, 0.603);
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    margin-bottom: 0%;
}

#new-post > form > textarea {
    resize: none;
    height: 150px
}

.messageBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    background-color: darkgray;
    margin: 0%;
    padding-left: 1%;
    padding-right: 1%;
}

#body {
    background-color: darkgray;
    margin: 0%;
    padding-left: 1%;
    padding-right: 1%;
}

#submit {
    display: block;
    display: none;
    font-size: 10px;
    float: right;
    background-color:brown;
    border: solid black 1px;
}

#delete {
    display: block;
    display: none;
    font-size: 10px;
    float: right;
    background-color:brown;
    border: solid black 1px;
}

#cancel {
    display: block;
    display: none;
    font-size: 10px;
    float: right;
    background-color:brown;
    border: solid black 1px;
}

.edit {
    float: right;
    background: none;
    border: none;
}